body, html{
    color: grey;
    box-sizing: border-box;
    margin: 0;
}


.cabecera {
    width: 100%;
    height: 50px;
    background-color: #F3F3F3;
    line-height: 50px;
}
.cabecera i{
    color: #858585;
    margin: 10px 30px;
}

header {
    width: 100%;
}

section {
    width: 100%;
    height: auto;
    top: 50px;
}

.item {
    width: 100%;
    height: auto;
    background-color: #EBEBEB;
    color: #858585;
    text-align: center;
    float: left;
    margin-top: 1px;
}
.item i{
    margin: 0 5px;
}
.icono{
    margin: 15px auto;
    color: #C2C2C2;
    position: relative;
}
.boton {
    width: 200px;
    height: 40px;
    background-color: #8C8C8C;
    position: relative;
    margin: 0 auto;
    display: block;
    line-height: 40px;
    border: solid 1px #858585;
    border-radius: 20px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.boton:hover{
    color: #444;
    background-color: #DEDEDE;
}

.titulo {
    margin: 30px 10px;
}




.seccion {
    width: 80%;
    margin: 60px auto 15px auto;
    font-size: 14px;
    position: relative;
}

.disfruta {
    margin: 0 auto 20px auto;
    position: relative;
    color: #444;
}

.flecha {
    color: #444;
    margin: 40px auto 30px auto;
}

.close {
    width: 40px;
    height: 40px;
    background-color: #9E9E9E;
    color: #000;
    line-height: 40px;
    right: 0;
    position: absolute;
    text-align: center;
}
.close:hover{
    background-color: #000;
    color: #9E9E9E;
}

.circulos {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    position: relative;
    margin: auto;
    background-color: #DEDEDE;
    top: 10px;
    margin-bottom: 15px;
}

.titCirculo {
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: -10px;
    color: #000;
}

.circulos p {
    width: 80%;
    margin: 15px auto;
    font-size: 13px;
}
